<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Web Summary</title>
    <link rel="stylesheet" href="../static/css/summary.css" />
</head>

<body>
    <form name="form" action="abstract.html" method="post">
        <p>文章：
            <!-- <input type="text" class="art" id="article" name="article" required minlength="4" maxlength="512"> -->
            <textarea class="art" name="article"></textarea>

            <input type="submit" name="提交" value="提 交">
            <input type="reset" name="重写" value="重 写">

        </p>
    </form>
    <p>摘要： <textarea class="abs" name="abstract"></textarea>

        <script type="text/javascript" src="/static/js/jquery-1.12.4.js"></script>
</body>

</html>